/**
 * 系统颜色变量
 * zy.wang@muheda.com
 */

$linkColor: #108EE9 !default;
$themeColor: #22262E !default;
$basicFontSize: 14px !default;
$basicFontColor: #666 !default;
$basicFontFamily: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !default;