.black{color: #000000 !important;}
.white{color: #ffffff !important;}

.bg-white{color: #ffffff !important;}
.bg-black{color: #000000;}

.full-width{width: 100%;}
.full-height{height: 100%;}
.full-box{width: 100%;height: 100%;}

.size12{font-size: 12px;}
.size14{font-size: 14px;}
.size16{font-size: 16px;}
.size18{font-size: 18px;}
.size20{font-size: 20px;}
.size22{font-size: 22px;}
.size24{font-size: 24px;}
.size26{font-size: 26px;}
.size28{font-size: 28px;}
.size30{font-size: 30px;}
.size32{font-size: 32px;}
.size34{font-size: 34px;}
.size36{font-size: 36px;}
.size38{font-size: 38px;}
.size40{font-size: 40px;}
.size42{font-size: 42px;}
.size44{font-size: 44px;}
.size46{font-size: 46px;}
.size48{font-size: 48px;}
.size50{font-size: 50px;}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt100{margin-top: 100px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb100{margin-bottom: 100px;}

.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}
.ml100{margin-left: 100px;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mr35{margin-right: 35px;}
.mr40{margin-right: 40px;}
.mr50{margin-right: 50px;}
.mr100{margin-right: 100px;}

.padding5{box-sizing: border-box;padding: 5px;}
.padding10{box-sizing: border-box;padding: 10px;}
.padding15{box-sizing: border-box;padding: 15px;}
.padding20{box-sizing: border-box;padding: 20px;}
.padding25{box-sizing: border-box;padding: 25px;}
.padding30{box-sizing: border-box;padding: 30px;}
.padding35{box-sizing: border-box;padding: 35px;}
.padding40{box-sizing: border-box;padding: 40px;}
.padding45{box-sizing: border-box;padding: 45px;}
.padding50{box-sizing: border-box;padding: 50px;}

.plr5{box-sizing: border-box;padding: 0 5px;}
.plr10{box-sizing: border-box;padding: 0 10px;}
.plr15{box-sizing: border-box;padding: 0 15px;}
.plr20{box-sizing: border-box;padding: 0 20px;}
.plr25{box-sizing: border-box;padding: 0 25px;}
.plr30{box-sizing: border-box;padding: 0 30px;}
.plr35{box-sizing: border-box;padding: 0 35px;}
.plr40{box-sizing: border-box;padding: 0 40px;}
.plr45{box-sizing: border-box;padding: 0 45px;}
.plr50{box-sizing: border-box;padding: 0 50px;}

.ptb5{box-sizing: border-box;padding: 5px 0;}
.ptb10{box-sizing: border-box;padding: 10px 0;}
.ptb15{box-sizing: border-box;padding: 15px 0;}
.ptb20{box-sizing: border-box;padding: 20px 0;}
.ptb25{box-sizing: border-box;padding: 25px 0;}
.ptb30{box-sizing: border-box;padding: 30px 0;}
.ptb35{box-sizing: border-box;padding: 35px 0;}
.ptb40{box-sizing: border-box;padding: 40px 0;}
.ptb45{box-sizing: border-box;padding: 45px 0;}
.ptb50{box-sizing: border-box;padding: 50px 0;}

.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}

.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}
.pl30{padding-left: 30px;}
.pl35{padding-left: 35px;}
.pl40{padding-left: 40px;}
.pl50{padding-left: 50px;}

.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr25{padding-right: 25px;}
.pr30{padding-right: 30px;}
.pr35{padding-right: 35px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}

.weight100{font-weight: 100;}
.weight200{font-weight: 200;}
.weight300{font-weight: 300;}
.weight400{font-weight: 400;}
.weight500{font-weight: 500;}
.weight600{font-weight: 600;}
.weight700{font-weight: 700;}
.weight800{font-weight: 800;}
.weight900{font-weight: 900;}
.weight{font-weight: bold;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline{display: inline;}
.block{display: block;}
.none{display: none;}
.inline-block{display: inline-block;}
.vertical-middle {vertical-align: middle;}

.flex{display: flex;}
.flex1{flex: 1;}
.flex2{flex: 2;}
.flex3{flex: 3;}
.flex4{flex: 4;}
.flex5{flex: 5;}
.column{flex-direction: column;}
.column-reverse{flex-direction: column-reverse;}
.row{flex-direction: row;}
.row-reverse{flex-direction: row-reverse;}

.justify-start{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.justify-around{justify-content: space-around;}
.justify-between{justify-content: space-between;}

.align-start{align-items: flex-start;}
.align-end{align-items: flex-end;}
.align-center{align-items: center;}
.center{justify-content: center;align-items: center;}
.shrink0{flex-shrink: 0;}
.grow0{flex-grow: 0;}

.wrap{flex-wrap: wrap;}
.nowrap{flex-wrap: nowrap;}
.wrap-reverse{flex-wrap: wrap-reverse;}

.self-start{align-self: flex-start;}
.self-end{align-self: flex-end;}
.self-center{align-self: center;}

.pointer{cursor: pointer;}

.overflow-hidden{overflow: hidden;}
.overflow-scroll-x{overflow-x: scroll;}
.overflow-scroll-y{overflow-y: scroll;}

.posR {
  position: relative;
}
.posA {
  position: absolute;
}
.posF {
  position: fixed;
}
.f-cb:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.f-cb {
  zoom: 1;
}
